h1 {
  text-align: center;
  color: #b094ae;
  font-family: "Roboto", serif;
  font-weight: 900;
  margin-top: 50px;
  font-size: 55px;
  text-decoration: underline;
  text-transform: uppercase;
}

th,
td {
  border: thin;
  margin: 10px auto;
  min-width: 100px;
  text-align: center;
  padding: 15px;
  font-family: "open sans";
}

table {
  background-color: grey;
  margin: 0 auto;
}

th {
  background-color: #134f10;
  color: white;
  font-size: 20px;
}

tr {
  background-color: lightgreen;
  color: black;
  font-size: 18px;
  margin-bottom: 15px;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #363030;
}

header {
  padding-top: 10px;
  height: 150px;
  background-color: #363030;
  background-image: url("https://image.shutterstock.com/image-vector/triangular-background-600w-283073108.jpg");
}

h2 {
  text-align: center;
  font-family: "Georgia";
  font-size: 55px;
}

nav {
  text-align: center;
  width: 100%;
  color: aqua;
  height: 50px;
  background-color: #363030;
  padding-top: 20px;
}

nav li {
  padding: 10px 40px 0px 40px;
  width: 100%;
  display: inline;
  list-style-type: none;
  text-decoration: none;
  border: hidden 2px;
}

nav a {
  text-decoration: none;
  color: aqua;
  font-size: 26px;
  font-weight: bold;
}

a:hover {
  color: purple;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

footer {
  margin-top: 50px;
  height: 125px;
  background-color: #363030;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-size: 36px;
  color: lightcoral;
}

.homelink {
  margin: 50px 0px 0px 0px;
  text-decoration: none;
  font-size: 24px;
  color: lightcoral;
  padding: 15px;
}

.content {
  text-align: center;
}
